*{
    margin: 0;
    padding: 0;

}
body{
    color: white;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
 
}
.header{
    width: 100%;
    padding-top: 25px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
    background-color: #35424a;
}
.header::after {
    display: block;
    content: "";
    clear: both;
}
.logo{
    float: left;
}
.nav{
    float: right;
    padding-top: 13px;
}

.nav>ul {
    list-style-type: none;

  }
  
.nav>ul>li {
    display: inline;

    padding-right: 10px;
}
.nav>ul>li>a{

    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.nav>ul>li>a:hover{
    color: #e8491d;
    font-weight: bolder;
    transition: 0.8s;
    text-decoration: underline;

}
.content{
    min-height: 400px;
    background: url("images/slide1.jpg") no-repeat;
    background-size: cover; 
    opacity: 1.5;

}

.content h1 {
    font-size: 55px;
    padding-top: 210px;
}

.content p {
    font-size: 20px;
}